<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Police Unit Simulation</title>
</head>
<body>
    <h1 th:inline="text">Police Unit [[${unitId}]] Console</h1>
    <h2 th:inline="text">Lat: [[${location.lat}]] Lon [[${location.lon}]]</h2>
    <form action="#" th:action="@{/police/console/updateLocation}" th:object="${location}" method="post">
        <fieldset>
            <label for="lat">Lat: </label><input type="text" id="lat" th:field="*{lat}" />
            <label for="lon">Lon: </label><input type="text" id="lon" th:field="*{lon}" />
            <input type="submit" value="Update location" />
            <input type="reset" value="Reset" />
        </fieldset>
    </form>
</body>
</html>